body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  
  
  #app {
    text-align: center;
  }
  
  
  button {
    font-size: 20px;
    border: none;
    background-color: black;
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px auto;
    background-color: #FFD700; /* Yellow */
  color: #4A266A; /* Dark Purple */
  border: 2px solid #FF6E40; /* Orange */
  transition: box-shadow 0.3s ease-in-out; 
  
  }
  button:hover {
  box-shadow: 0 0 10px 2px #FFD700, 0 0 20px 4px #FF6E40; /* Glowing effect */
  }
  
  .x-style {
    color: rgb(195, 79, 240);
    /* Color for X */
    font-weight: bold;
  }
  
  .o-style {
    color: rgb(80, 154, 233);
    /* Color for O */
    font-weight: bold;
  }
  
  
  
  #board {
  display: grid;
  grid-template-columns: repeat(3, 130px); /* Creates 3 equal columns */
  grid-gap: 10px; /* Adds spacing between cells */
  justify-content: center; /* Centers the grid horizontally */
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(152, 145, 145, 0.5);
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  
  .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem; /* Adjusted for better scaling */
  font-weight: bold;
  
  height: 130px; /* Matches grid cell size */
  width: 130px; /* Matches grid cell size */
  border: 2px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .cell.taken {
  pointer-events: none; /* Prevent further clicks on filled cells */
  }
  
  
  .hidden {
    display: none;
  }
  
  h1{
    text-align: center;
    font-size: 150px;
    margin: 10px 0;
    font-family: 'Times New Roman', Times, serif;
      color: #FFD700; /* Yellow */
      text-shadow: 0 0 10px black, 0 0 2000px #fff7f7;
      margin: 10px 0;
  }
  
  h2 {
    margin: 10px 0;
  }